body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.main {
  position: relative;
  padding-top: 69px;
}

/* HEADER */

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  align-items: center;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid seashell;
  z-index: 1;
  height: 76px;
  width: 100%;
  top: 0px;
}

.logo img {
  margin-left: 10px;
  height: 50px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

header nav {
  text-align: right;
  padding-right: 20px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: seashell;
}

/* MISSION */

#mission {
  background-image: url("../images/mission-background.jpg");
  height: 700px;
}

#mission .content {
  justify-content: center;
  background-color: black;
  width: 1200px;
  margin: auto;
}

/* FEATURED TEA */

#featured {
  width: 1000px;
  padding: 70px;
  margin: auto;
  justify-content: center;
}

.items {
  align-items: center;

}

.item {
  margin: 0px 15px;
}

.items img {
  width: 300px;
  height: 200px;
  margin-bottom: 0px;
}

.items h4 {
  margin-top: 10px;
}

/* LOCATIONS */

#locations {
  background-image: url("../images/locations.jpg");
  height: 500px;
  display: flex;
  padding-top: 70px;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

#locations h2 {
  margin-bottom: 0px;
}

.boxes {
  margin-top: 15px;
  align-items: center;
}

.box {
  opacity: 1;
  background-color: black;
  width: 300px;
  margin: 0px 20px;
}

/* FOOTER */

footer {
  height: 200px;
  margin-bottom: 0px;
}

.copyright {
  text-align: left;
  margin-top: 20px;
}
